.Card{
    width: 40%;
    height:auto;
    background-color: #BE6E46;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    border: 2px solid black;
    margin-top: 10px;
}
.Card img{
    width:5rem;
    height: auto;
    border-radius: 50%;
}

.Card Button{
    background-color: black;
    color:#BE6E46;
}
.Card Button:hover{
    background-color: #BE6E46;
    color:black;
}
.outer{
    justify-content: center;
    text-align: center;
    align-items: center;

}